.spaces{

     padding-right: 10px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}

.box{
    background-color: lightgrey;
    width: 400px;
    height:280px;
    border: 8px solid green;
    padding: 50px;
    margin: 20px;
    float: left;
},

.buttons{
    font-size: 14px;
  }