 <div style="background-image: url('https://cdn.wallpapersafari.com/70/19/YnR9Ku.jpg');">
<div class="container">
 <h3>USER AUTHENTICATION</h3>


<section class="container-fluid">

  <form #loginform ="ngForm" class="form-container">

   
    <div class="form-group">   
  
        <label>Name</label>
        <input type="text" #name class="form-control" name="userName" ngModel placeholder="Please enter your Name"><br/><br/>
  
        <label>Password</label>
        <input type="password" #password class="form-control" name="Password" ngModel placeholder="Password">
  
      </div>
  
   <button type="submit" class="btn btn-primary btn-block" (click)="Lognin(name.value, password.value)">Log in</button>

  </form> 

</section>
</div>
</div>